@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', 'Segoe UI', 'Roboto', sans-serif;
}

div.top-covid {
    background-color: #6df0c2;
    width: 100%;
    height: 80px;
}

.top-covid p {
    padding-top: 30px;
    font-size: 1.1rem;
    text-align: center;
}

.top-covid a {
    color: black;
    font-weight: bold;
}

.top-covid img {
    width: 20px;
    position: absolute;
    right: 110px;
    top: 30px;
}

header {
    height: 66px;
    width: 100%;
    box-shadow: 0 4px 2px -2px #e3e3e3;
}

#logo {
    width: 128px;
    float: left;
    margin-left: 89px;
    margin-top: 17px;
    cursor: pointer;
}

header ul {
    list-style: none;
    float: left;
    margin-left: 36px;
    margin-top: 22px;
}

header ul li {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.float-right {
    float: right;
}

#sign-up-button {
    margin-right: 121px;
    height: 38px;
    width: 90px;
    text-align: center;
    background-color: #6f70e5;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    margin-top: 14px;
    padding-top: 7px;
    cursor: pointer;
}

#sign-up-button:hover {
    color: #6f70e5;
    background-color: white;
    transition: 0.5s;
}

#log-in-button {
    margin-right: 34px;
    font-weight: bold;
    margin-top: 23px;
    cursor: pointer;
}

.absolute-position {
    position: absolute;
}


/* Left image place */
#absolute-1 {
    left: 96px;
    top: 180px;
    z-index: 5;
}

#absolute-2 {
    left: 223px;
    z-index: 4;
    top: 285px;
}

#absolute-3 {
    z-index: 2;
    left: 386px;
    top: 178px;
}

#absolute-4 {
    left: 96px;
    z-index: 4;
    top: 603px;
}

#absolute-5 {
    z-index: 3;
    top: 235px;
    left: 122px;
}

#absolute-6 {
    z-index: 6;
    left: 64px;
    top: 425px;
}

.right-main-bar {
    position: absolute;
    left: 847px;
    top: 207px;
    width: 360px;
    height: 456px;
}

.get-started {
    font-weight: bold;
    font-size: 22px;
}

.label {
    float: left;
    padding-top: 18px;
    font-size: 14px;
    font-weight: bold;
    clear: both;
}

.form-input {
    float: left;
    margin-top: 10px;
    width: 352px;
    height: 52px;
    clear: both;
}

#start-coding-now {
    float: left;
    clear: both;
    width: 352px;
    height: 52px;
    margin-top: 17px;
    background-color: #6f70e5;
    border-radius: 2px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
    letter-spacing: 0.02em;
    font-weight: bold;
    cursor: pointer;
}

#start-coding-now:hover {
    transition: 0.5s;
    color: #6f70e5;
    background-color: white;
}

.sign-up-text-bottom {
    float: left;
    clear: both;
    font-size: 14px;
    margin-top: 16px;
    line-height: 1.5em;
}

.sign-up-text-bottom a {
    color: #6f70e5;
    font-weight: bold;
}

#another-account {
    float: left;
    clear: both;
    font-weight: bold;
    margin-top: 14px;
    letter-spacing: 0.05em;
    font-size: 0.93em;
}

.clear-left {
    clear: left;
}

.contact-img {
    width: 80px;
    height: 50px;
    float: left;
    margin-right: 10px;
    margin-top: 13px;
    box-shadow: 0 0 2px #d1d1d1;
}

.contact-img img {
    position: relative;
    left: 30px;
    top: 14px;
    width: 22px;
    height: 22px;
}

.contact-img:hover {
    transition: 0.5s;
    box-shadow: 0 0 14px gray;
    cursor: pointer;
}